body {
    background-color: #303030;
    font-family: 'Raleway', sans-serif;
    color: #f0f0f0;
}

#text {
    background-color: #303030;
    color: #ffffff;
    padding: 10px;
}

#game {
    max-width: 500px;
    max-height: 400px;
    background-color: #f5f5f5;
    color: #303030;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#controls,
#stats {
    border: 1px solid #303030;
    color: #303030;
    padding: 5px;
}

#monsterStats {
    display: none;
    border: 1px solid #303030;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
}

.stat {
    padding-right: 10px;
}

button {
    cursor: pointer;
    color: #f5f5f5;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
    font-family: 'Playfair Display', serif;
}